*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

body{
     height: 100vh;
     font-family: "Roboto",Arial, Helvetica, sans-serif;
}

.grid{
     display: grid; 
     grid-template:
       "cardapio        cardapio" 2fr
       "nave    nave" 1fr
       "conteudo1     conteudo2" 8fr
       "rodape    rodape" 1fr/ 1fr 1fr ;
       height: 100%;
}

.cardapio,.navegacao,.rodape{
     padding-left: 10px;
     display: grid;
}


.cardapio{
     background-color: #4747FF;
     color: white;
     grid-area: cardapio;
     padding-left: 10px;
}

.cardapio>h1{
     align-self: center;
}

.navegacao{
     background-color: #00A300;
     color: white;
     grid-area: nave;

}

.conteudo{
     background-color: orange;
     color: white;
     margin: 5px;
     padding: 5px;
}

.rodape{
     background-color: #525252;
     color: white;
     grid-area: rodape;
}

.cardapio>h1, .navegacao>h5, .rodape>p{
     align-self: center;
}

.conteudo1{
     grid-area: conteudo1;
}

.conteudo2{
     grid-area: conteudo2;
}